.ingredient {
  display: flex;
}
img.ingredient-img {
  width: 15%;
  height: 15%;
  margin: 1rem 1rem 0rem 0rem;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
